.header-logo {
  float: left;
  width: 10%;
  min-height: 10px;
  font-size: 30px;
  font-style: italic;
  font-family: cursive;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .gear {
    animation: gear-spin infinite 10s linear;
  }
}

@keyframes gear-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
